.container {
  position: relative;
}

.badge {
  position: absolute;
  top: 5px;
  left: calc(50% - 2px);
  background: var(--color-red);
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  outline: 2px solid var(--color-head);
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  right: 0;
  width: 380px;
  background: var(--color-dialog);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: 0 0px 2px var(--color-shadow);
  overflow: hidden;
  z-index: 5;
  @media (max-width: 800px) {
    position: fixed;
    left: 10px;
    right: 10px;
    top: var(--size-head);
    width: unset;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px 2px 16px;
  border-bottom: 1px solid var(--color-border);
  & > h3 {
    line-height: 44px;
  }
}

.list {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.empty {
  flex-grow: 1;
  min-height: fit-content;
  // margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 4px 8px 0px;
  border-bottom: 1px solid var(--color-border);
  transition: background 1000s;
  text-wrap: wrap;

  &:last-child {
    border-bottom: none;
  }

  &.unread {
    cursor: pointer;
    background: #65656522;

    &:hover {
      background: var(--color-hover);
    }
  }
}

.icon {
  padding: 12px;

  &:global(.info) {
    color: var(--color-blue);
  }

  &:global(.success) {
    color: var(--color-green);
  }

  &:global(.warning) {
    color: var(--color-orange);
  }

  &:global(.error) {
    color: var(--color-red);
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  color: var(--color-secondary);
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.message {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

.time {
  font-size: var(--font-size-xs);
  color: #7a7a7a;
  line-height: 1;
}
