.wrapper {
  box-sizing: border-box;
  width: var(--size-modal);
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email {
  position: relative;
  & input {
    height: 54px;
  }
  & button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
}
