.wrapper {
  box-sizing: border-box;
  width: 440px;
  min-height: 330px;
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.steps {
  display: grid;
  transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.stepItem {
  min-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.email {
  position: relative;
  & input {
    height: 54px;
    // padding-right: 120px;
  }
  & button {
    position: absolute;
    top: 50%;
    right: 8px;
    height: 40px;
    transform: translateY(-50%);
    &:active {
      transform: translateY(calc(-50% + 2px));
    }
  }
}
