.wrapper {
  box-sizing: border-box;
  width: 240px;
  padding: 20px 20px;
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  & > button {
    margin-top: 15px;
  }
}
.title {
  margin-top: 10px;
}
