.wrapper {
  position: relative;
  width: 440px;
  min-height: 330px;
  justify-content: space-between;
  gap: 22px;
}

.steps {
  display: grid;
  transition: grid-template-rows 0.3s ease-in;
  overflow: hidden;
  height: 242px;
}

.step {
  overflow: hidden;
  transition: opacity 0.3s ease;
  text-wrap: wrap;
}

.email {
  position: relative;

  & input {
    height: 54px;
    // padding-right: 120px;
  }

  & button {
    position: absolute;
    top: 50%;
    right: 8px;
    height: 40px;
    transform: translateY(-50%);

    &:active {
      transform: translateY(calc(-50% + 2px));
    }
  }
}

.expired {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red);
}

.error {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  color: var(--color-red);
  text-align: center;
}