.progress {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: var(--font-size-s);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  & .bar {
    content: '';
    transition: all 0.3s ease;
    &:global(.red) {
      background-color: var(--color-red);
    }
    &:global(.orange) {
      background-color: var(--color-orange);
    }
    &:global(.green) {
      background-color: var(--color-green);
    }
  }
  & span {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
