@keyframes tilt {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.tilt {
  animation: tilt 0.4s ease-in-out both;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  input {
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    width: 100%;
    position: absolute;
    text-align: right;
  }

  .mirror {
    visibility: hidden;
    white-space: pre;
    display: inline-block;
    min-width: 20px;
  }
}
