.prediction {
  box-sizing: border-box;
  width: 240px;
  flex-shrink: 0;
  padding: 12px;
  background: var(--color-dialog);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: var(--font-size-sm);
}

.vote {
  display: flex;
  flex-direction: column;
  // gap: 2px;

  & .label {
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    color: var(--color-secondary);
    letter-spacing: 0.5px;
  }

  & .yes,
  & .no {
    font-weight: 500;
    border-radius: 4px;
    padding: 4px 8px;
  }

  & .yes {
    color: var(--color-green);
    background: rgba(74, 139, 62, 0.15);
  }
  & .no {
    color: var(--color-orange);
    background: rgba(238, 153, 0, 0.15);
  }
}
