.prediction {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
  padding: 12px;
  gap: 8px;
  background: var(--color-dialog);
  border-radius: var(--radius);
  font-size: var(--font-size-sm);

  & h3 {
    text-transform: uppercase;
    line-height: 1.2;
  }
}
