.head {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & img {
    .icon {
      width: 48px;
      height: 48px;
    }

    width: 64px;
    height: 64px;
    // width: 48px;
    // height: 48px;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--font-size-sm);
    color: var(--color-brand);
  }
}
