.rangeBtn {
  padding: 8px 10px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-secondary);
  border-radius: 6px;
  flex: 1;
  text-align: center;

  &:hover {
    color: var(--color-primary);
  }

  &:global(.active) {
    background: var(--color-card);
    color: var(--color-brand);
    font-weight: 600;
    box-shadow: 0 1px 4px var(--color-shadow);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

/* Transactions list */


.chip {
  padding: 6px 14px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-secondary);
  background: var(--color-input);
  border: 1px solid var(--color-border);
  border-radius: 20px;

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-secondary);
  }

  &:global(.active) {
    color: var(--color-primary);
    background: var(--color-active);
    border-color: var(--color-brand);
  }
}

.txItem {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 14px;
  background: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  gap: 14px;
}

.txIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  flex-shrink: 0;
}

.statusBadge {
  font-size: 11px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 12px;
  // line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dt {
  margin-right: 8px;
}

.chain {
  background: var(--color-input);
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  padding: 2px 6px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background: var(--color-input);
  font-family: monospace;
  color: var(--color-blue);

  &:hover {
    color: var(--color-blue-light);
    border-color: var(--color-blue);
  }
}

.amount {
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 480px) {
  .txItem {
    padding: 12px 8px;
    gap: 8px;
  }

  .amount {
    font-size: var(--font-size-md);
  }
}