.container {
  position: fixed;
  bottom: 24px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  z-index: 9;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  & > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    padding: 6px 8px 6px 16px;
    gap: 4px;

    background-color: var(--color-active);
    color: var(--color-primary);

    border: 1px solid var(--color-shadow);
    border-radius: 40px;
    box-shadow: 0 0 4px 0px var(--color-shadow);

    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      background-color: var(--color-hover);
    }
    &:active {
      transform: scale(0.95);
      opacity: 0.8;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    right: 12px;
    bottom: calc(var(--size-tapbar) + 8px);
    transform: none;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
