.wrapper {
  box-sizing: border-box;
  width: 500px;
  padding: 20px 24px 5px;
}
.title {
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 20px 0 5px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

.switchers {
  display: flex;
  justify-content: space-between;
  min-height: 54px;
  width: 100%;
  & > div {
    min-width: 80px !important;
  }
}
.label {
  min-width: 120px;
  text-align: right;
  padding-right: 15px;
  margin-top: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & button {
    min-width: 0;
    margin-left: 10px;
  }
}
.help,
.error {
  font-size: var(--font-size-s);
  margin-top: 3px;
}

.help {
  color: var(--color-subtitle);
}
.error {
  color: var(--color-error);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
}
.tag {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-right: 5px;
  border: 2px solid var(--color-border);
  border-radius: 5px;
  // box-shadow: var(--shadow-border);
  // font-size: var(--font-size-m);
  overflow: hidden;
  & > div:first-child {
    padding: 0px 6px;
    line-height: 1.3;
  }
  & > button {
    padding-left: 1px;
    // border-left: 1px solid var(--color-border);
    height: 100%;
    background-color: var(--color-border);
    &:hover {
      opacity: 0.8;
    }
    & svg {
      width: 18px;
      height: 18px;
    }
  }
}
