.container {
  display: flex;
  gap: 12px;
  // width: 100%;

  &.error > select {
    // box-shadow: 0 0 0 2px var(--color-red);
    // border-color: transparent;
    border-color: var(--color-red);
  }
}

.day {
  width: 80px;
}
.month {
  width: 120px;
}
.year {
  width: 80px;
}

.day,
.month,
.year {
  padding-inline: 6px;
}
