.container {
  display: flex;
  gap: 12px;
  width: 100%;

  &.error {
    & > input,
    & > select {
      box-shadow: 0 0 0 2px var(--color-red);
    }
  }
}

.month {
  flex: 1;
  // max-width: 200px;
}
.day {
  width: 75px;
}
.year {
  width: 90px;
}
