.wrapper {
  width: 380px;
  text-align: center;
  gap: 32px;
}

.cunstruction {
  height: 40px;
  width: 100%;
  background-size: 100px 100px;
  background-image: linear-gradient(45deg, #ffff00 25%, #000 25%, #000 50%, #ffff00 50%, #ffff00 75%, #000 75%, #000);
}