.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 16px;
}
.card,
.user {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--color-border);
}

.user {
  gap: 16px;
}

@media (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .user {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.divider {
  width: 1px;
  height: 90%;
  background: var(--color-border);
  margin-inline: 12px;

  @media (max-width: 600px) {
    & {
      display: none;
    }
  }
}

.chart {
  height: 64px;
  background: linear-gradient(90deg, transparent, rgba(46, 169, 235, 0.1), transparent);
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  & .line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-blue);
    filter: blur(4px);
  }
}

.tab {
  color: var(--color-secondary);
  font-weight: 600;
  padding: 12px 0;

  &:global(.active) {
    color: var(--color-primary);
  }
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  & .head {
    display: flex;
    padding-inline: 12px;
    gap: 12px;
    color: var(--color-secondary);
    font-size: var(--font-size-xs);
    font-weight: 500;
    text-transform: uppercase;
  }

  & .cell {
    min-width: 100px;
  }
}
