.indicator {
  min-width: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  &:global(.blue) {
    background-color: var(--color-blue-dark);
  }

  &:global(.green) {
    background-color: var(--color-green);
  }

  &:global(.red) {
    background-color: var(--color-red);
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.state {
  padding: 8px 12px;
  font-size: var(--font-size-sm);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  line-height: 1;
  min-height: 34px;

  & .reason {
    color: var(--color-secondary);
    font-style: italic;
  }
}

.error {
  background-color: var(--color-orange-bg);
  color: var(--color-orange);
}
.pending {
  background-color: var(--color-blue-bg);
  color: var(--color-blue);
}
.ok {
  background-color: var(--color-green-bg);
  color: var(--color-green);
}

.choice {
  max-width: 160px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: var(--font-size-sm);

  background-color: var(--color-dialog);
  color: var(--color-secondary);

  &:global(.green) {
    background-color: var(--color-green-bg);
    color: var(--color-green);
  }
}
