.wrapper {
  box-sizing: border-box;
  min-width: var(--size-modal);
  padding: 20px 20px;
  overflow: hidden;
  text-wrap: nowrap;
  :global(.col.btn) {
    height: 50px;
  }
}
.error,
.loader {
  display: flex;
  align-items: center;
  gap: 6px;
}
.error {
  color: var(--color-orange);
}
.loader {
  color: var(--color-green);
}
