.wrapper {
  box-sizing: border-box;
  width: var(--size-modal);
  padding: 20px 20px;
  overflow: hidden;
  text-wrap: nowrap;
  :global(.col.btn) {
    height: 50px;
  }
}
.title {
  margin-top: 10px;
}
