.sidebar {
  box-sizing: border-box;
  position: sticky;
  top: calc(var(--size-head) + var(--size-nav) + 20px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 180px;
  padding-top: 12px;
  background: var(--color-body);
  z-index: 2;
}

.item {
  padding: 16px 20px;
  color: var(--color-secondary);
  border-radius: var(--radius);
  text-align: left;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: var(--color-hover);
    color: var(--color-primary);
  }

  &:global(.active) {
    background: var(--color-active);
    color: var(--color-primary);
  }
}

.main {
  flex: 1;
  max-width: 750px;
  min-height: 600px;
  padding-top: 18px;
  padding-left: 48px;
}

.profile {
  display: flex;
}

// Responsive design
@media (max-width: 800px) {
  .profile {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    padding: 1rem 0;
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    transform: translateY(-20px);

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-input);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-border);
      border-radius: 2px;
    }
  }

  .item {
    white-space: nowrap;
    padding: 0.75rem 1.25rem;
  }

  .main {
    padding: 32px 24px;
  }
}
