.wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-border);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in;
  min-width: 400px;
  width: 100%;
  color: var(--color-secondary);
  background: var(--color-bg-secondary);

  &:focus-within {
    box-shadow: var(--shadow-active);
    // border-color: var(--color-primary);
  }

  &:hover:not(:focus-within) {
    background-color: var(--color-dialog);
  }

  &:global(.open) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 40px 8px 44px;
    color: var(--color-primary);
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  & svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-secondary);
  }
}

.clear {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  transition:
    background 0.2s,
    color 0.2s;

  &:hover {
    background: var(--color-hover);
    color: var(--color-primary);
  }

  & svg {
    position: static;
    transform: none;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background: var(--color-head);
  border: 1px solid var(--color-border);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  // border-radius: var(--radius);
  box-shadow: var(--shadow-large);
  z-index: 6;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 8px 0;
  animation: slideDown 0.2s ease-out;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 12px;
  cursor: pointer;
  color: var(--color-primary);
  transition: background 0.2s;

  &:hover {
    background: var(--color-hover);
  }
  & img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
