.bar {
  box-sizing: border-box;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--color-head);
  border-top: 1px solid var(--color-border);
  z-index: 5;

  @media (max-width: 800px) {
    display: flex;
    align-items: center;
  }
}
