.bar {
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--size-tapbar);
  background: var(--color-head);
  border-top: 1px solid var(--color-border);
  z-index: 5;
}

.item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  text-decoration: none;
  font-size: var(--font-size-xs);
  font-weight: 500;
  margin-inline: 24px;

  &:hover {
    color: var(--color-primary);
  }
}
