.main {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 124px;
  gap: 24px;
}

.sticky {
  position: sticky;
  top: calc(var(--size-head) + var(--size-nav));
  background-color: var(--color-body);
  z-index: 1;
  margin-bottom: 6px;
}

// ITEM

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  margin-top: 3px;
  transition: background 0.3s;
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid transparent;

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 10px;
    right: 10px;
    background: var(--color-border);
    // border-bottom: 1px solid var(--color-border);
    height: 1px;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    background: var(--color-hover);
  }

  &.active {
    background: var(--color-active);
    // border-color: var(--color-border);
  }

  .value {
    font-size: 24px;
    font-weight: 700;
  }

  .change {
    min-width: 124px;
    gap: 2px;
    color: var(--color-green);
    // font-size: var(--font-size-xs);
    text-align: right;
  }
}
