@forward './scss/config.scss';
@forward './scss/tags.scss';
@forward './scss/bootstrap.scss';

/* Inter - Regular (400) */
@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter - Medium (500) */
@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter - SemiBold (600) */
@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
