:root {
  color-scheme: light dark;

  --scrollbar-track: #1111;
  --scrollbar-thumb: #5555;

  --color-primary: light-dark(#222, #fff);
  // --color-fg-default: #fff;
  --color-secondary: light-dark(#888, #94a3b8);
  // --color-body: #1d1d23; // 1c1f24
  --color-body: light-dark(#fff, #131619); // 1c1f24
  --color-head: light-dark(#fff, #1a1a22);
  --color-card: light-dark(#fff, #181d21); // #1d2126
  --color-dialog: light-dark(#fafafa, #1b1b23);

  --color-input: light-dark(#fff, #212126); // #282831
  --color-active: light-dark(#f8f8f8, #222229);
  --color-hover: light-dark(#eee, #262631);
  // rgb(36, 43, 50)  434a56

  --color-shadow: #2222;
  --color-shimmer: #4443;
  --color-border: light-dark(#d9d9d9, #2c333a); // #464e5a
  --color-disabled: #505059;

  // --color-brand: #f08d0b; // light-dark(#e5a623, #f0b90b); // #7545d2
  --color-brand: #ec7506; // light-dark(#e5a623, #f0b90b); // #7545d2

  // COLORS
  --color-green: #4a8b3e;
  --color-green-bg: #4a8b3e26;
  --color-green-light: #5e9e4c;
  --color-green-dark: #3a8b3e;
  --color-red: #ff3347;
  --color-red-light: #ff4455; // fc3545
  --color-red-dark: #8c2a2a;
  --color-orange: #ee9900;
  --color-orange-bg: #ee99001a;
  --color-orange-light: #ffaa00;
  --color-orange-dark: #bb9900;
  --color-yellow: #eeee00;
  --color-yellow-light: #ffff00;
  --color-yellow-dark: #bbbb00;
  --color-blue: #2c9cdb;
  --color-blue-bg: #2c74c21a;
  --color-blue-light: #2ea9eb;
  --color-blue-dark: #1f6dd4;

  --color-gray: #2c2c35;
  --color-gray-light: #3b3b47;
  --color-gray-dark: #2c2c35;

  // MSG COLORS
  --color-msg-default: #007bff;
  --color-msg-info: #17a2b8;
  --color-msg-success: #28a745;
  --color-msg-warning: #ce9c09; //#eab000;
  --color-msg-error: #dc3545;
  // Sizes
  --size-surface: 1380px;
  --size-container: 1000px;
  --size-modal: 500px;
  --size-head: 60px;
  --size-tapbar: 60px;
  --size-nav: 44px;
  --size-input: 38px; // input select btn height
  --radius: 8px;
  --font-size-xl: 32px;
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-lg: 18px;
  --font-size: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  // Shadows
  --shadow: 0px 0px 10px 2px var(--color-shadow);

  // New
  --color-gray-text: #edeef0;
  --color-gray-bg: #696e77;

  --color-blue-text: #3078ff;
  // --color-blue-bg: #4088ff30;

  --color-green-text: #008514;
  // --color-green-bg: #00970026;

  --color-orange-text: #dda027;
  // --color-orange-bg: #fb6a0025;

  --color-red-text: #ff628d;
  --color-red-bg: #fe2a8b2a;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;

  // -webkit-tap-highlight-color: transparent !important;
}

:focus,
:active {
  outline: none;
}
