::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #41464f;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #1d2033;
  box-shadow: inset 0 0 4px #372f47;
}

// @media screen and (min-width: 576px) {
//   ::-webkit-scrollbar {
//     width: 6px;
//   }
// }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Kanit, notosans, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--color-primary);
  overflow-y: scroll;
  // background: linear-gradient(to right, #131619, #040506);
  background: var(--color-body);
  margin: 0;
  line-height: inherit;
}
main {
  max-width: var(--size-surface);
  width: 100%;
  margin-inline: auto;
  min-height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
button,
select {
  text-transform: none;
  white-space: nowrap;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  // line-height: inherit;
  margin: 0;
  color: inherit;
  transition: all 0.3s;
}
input,
select {
  height: 40px;
  border-radius: var(--radius);
  background-color: var(--color-input);
  &:hover {
    background-color: var(--color-hover);
  }
  &:focus-within {
    background-color: var(--color-hover);
    box-shadow: var(--color-shadow);
  }
}
hr {
  height: 1px;
  margin: var(--base-size-8, 8px) 0;
  background-color: var(--color-border);
  border: none;
}
h1,
h2,
h3,
h4 {
  font-family: montserrat, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
}
h1 {
  font-size: var(--font-size-h1, 24px);
}
h2 {
  font-size: var(--font-size-h2, 20px);
}
h3 {
  text-transform: uppercase;
  font-weight: 500;
}

svg,
img,
fieldset,
legend {
  pointer-events: none;
  flex-shrink: 0;
}
svg {
  transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  user-select: none;
}
img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  object-fit: cover;
  transition: all 0.3s;
  background-color: rgba(var(--color-primary), 0.8);
}
