.tg_block {
  min-height: 50px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.nonce {
  padding: 11px 16px;
  margin-right: 16px;
  // font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  color: #f9ecc4;
  background: var(--color-orange-dark);
  border-radius: 8px;
}

.email {
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
  & input {
    padding-right: 50px;
  }
}

.btn {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-inline: 12px;
  background-color: var(--color-blue);

  &:global(.green) {
    background-color: var(--color-green);
  }
}
