.wrapper {
  box-sizing: border-box;
  width: 500px;
  padding: 20px 24px 15px;
}
.title {
  text-align: center;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.label {
  padding: 5px 0;
}
.video {
  background-color: var(--color-input);
  border-radius: 5px;
}
.off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
}

.equalizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.bar {
  box-sizing: border-box;
  width: 30px;
  height: 10px;
  background-color: var(--color-active);
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.8s ease-in-out;
  &.filled {
    background-color: var(--color-primary);
  }
}
