.container {
  position: relative;
  display: inline-flex;
}
.btn {
  padding: 5px 2px 5px 8px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--color-hover);
  }
}
.user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  color: var(--color-brand-dark);
  &:hover {
    color: var(--color-brand);
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  min-width: 220px;
  background: var(--color-head);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: 0 4px 12px var(--color-shadow);
  padding: 8px 0;
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
  overflow-y: auto;
  max-height: calc(100vh - 100px);

  // Скрываем скроллбар для Webkit браузеров (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  // Скрываем скроллбар для Firefox
  scrollbar-width: none;
  // Скрываем скроллбар для IE/Edge (старые версии)
  -ms-overflow-style: none;

  .item,
  .link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
    gap: 8px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  .item {
    color: var(--color-primary);
  }
  .link {
    color: var(--color-secondary);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shimmer {
  width: 40px;
  height: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-shimmer);
}
