.bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-shadow);
  backdrop-filter: blur(2px);
  z-index: 2;
}
.modal {
  position: relative;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  background-color: var(--color-dialog);
  border-radius: 10px;
  // border: 1px solid var(--color-border);
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    padding: 4px;
    border-radius: 6px;
    z-index: 4;
    &:hover {
      background-color: var(--color-active);
    }
  }
}
